*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Color Palette */
:root {
  --color-primary: #10cab7;
  --color-secondary: #2c4755;
  --color-headings: #ebeced;
  --color-subheadings: #797979;
  --section-background: #f6f6f6;
}
