*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Color Palette */
:root {
  --color-primary: #10cab7;
  --color-secondary: #2c4755;
  --color-headings: #ebeced;
  --color-subheadings: #797979;
  --section-background: #f6f6f6;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: var(--color-primary);
  font-size: 5rem;
  margin: 0;
}

/* Hero */
.hero {
  background: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  text-align: center;
  padding: 1rem;
}
/* Grid */

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
