*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Color Palette */
:root {
  --color-primary: #10cab7;
  --color-secondary: #2c4755;
  --color-headings: #ebeced;
  --color-subheadings: #797979;
  --section-background: #f6f6f6;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: var(--color-primary);
  font-size: 6rem;
  margin: 0;
}
h2 {
  color: var(--color-headings);
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
}
p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 10rem;
  }
}
/* container */
.container {
  padding: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 4rem;
  }
}

/* Hero */
.hero {
  background: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  text-align: center;
  padding: 1rem;
}
/* Grid */

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.feature > p {
  color: #777;
  line-height: 1.7;
  font-size: 1.5rem;
}
.feature > i {
  color: var(--color-primary);
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.block--features {
  background: var(--section-background);
}
/* Block header */
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block__header > p {
  font-size: 1.7rem;
  color: var(--color-subheadings);
  transform: translateY(-2rem);
}
@media screen and (min-width: 768px) {
  .block__header > p {
    font-size: 2rem;
    transform: translateY(-3.5rem);
  }
}
/* portfolio */
.portfolio-container {
  background-color: var(--section-background);
}
.portfolio-container .grid {
  gap: 3rem;
}
.portfolio-card {
  background-color: white;
}
.portfolio-card__content {
  padding: 2rem;
}
.portfolio-card__content > p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--color-subheadings);
}
.portfolio-card > img {
  width: auto;
  max-width: 100%;
}
/* Media */
.media {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 2rem;
  text-align: center;
}

.media__title {
  margin-bottom: 2rem;
}

.media__body {
  margin: 0 2rem;
}
.media__body > p {
  color: #444;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6;
}

.media__image > i {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .media {
    text-align: start;
    flex-direction: row;
  }
  .media__body > p {
    font-size: 2rem;
  }
  .media__image {
    align-self: flex-start;
  }
}
