<section class="grid grid--1x2 grid--1x3 block--features">
  <div class="feature">
    <i class="fa fa-magic"></i>
    <h3>Tell Us Your Idea</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      maiores aspernatur qui veritatis?
    </p>
  </div>
  <div class="feature">
    <i class="fa fa-diamond"></i>
    <h3>We Will Do All The Work</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      maiores aspernatur qui veritatis?
    </p>
  </div>
  <div class="feature">
    <i class="fa fa-globe"></i>
    <h3>Your Product is Worldwide</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      maiores aspernatur qui veritatis?
    </p>
  </div>
</section>
