<section class="container portfolio-container">
  <header class="block__header">
    <h2>Portfolio</h2>
    <p>If you do it right, it will last forever.</p>
  </header>
  <div class="grid grid--1x2 grid--1x3">
    <div class="portfolio-card">
      <img src="images/portfolio-1.jpg" alt="project 1" />
      <div class="portfolio-card__content">
        <h3>Project Here</h3>
        <p>
          My creative ability is very difficult to measure because it can
          manifest in so many surprising and.
        </p>
      </div>
    </div>
    <div class="portfolio-card">
      <img src="images/portfolio-2.jpg" alt="project 2" />
      <div class="portfolio-card__content">
        <h3>Project Here</h3>
        <p>
          My creative ability is very difficult to measure because it can
          manifest in so many surprising and.
        </p>
      </div>
    </div>
    <div class="portfolio-card">
      <img src="images/portfolio-3.jpg" alt="project 3" />
      <div class="portfolio-card__content">
        <h3>Project Here</h3>
        <p>
          My creative ability is very difficult to measure because it can
          manifest in so many surprising and.
        </p>
      </div>
    </div>
  </div>
</section>
